/* LoginPage.css */

.stack-pane {
    -fx-background-color: #FFFFFF;
}

.v-box {
    -fx-spacing: 2%;
    -fx-alignment: center;
}

.h-box {
    -fx-alignment: baseline-right;
}

.button {
    -fx-background-color: #037B41;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.back-button {
    -fx-font-size: 12px;
    -fx-padding: 6px 12px;
    -fx-background-color: #037B41;
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
}

.password-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-padding: 6px;
}
