/* SelectSignUpPage.css */

#backButton {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #037B41;
    -fx-font-size: 16px;
    -fx-alignment: baseline-left; /* Aggiunto allineamento a sinistra */
}

.title-text {
    -fx-fill: #037B41;
    -fx-font-size: 40px;
    -fx-font-family: "Avenir";
    -fx-font-smoothing-type: lcd;
}

.button {
    -fx-background-color: #037B41;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
}

.stack-pane {
    -fx-background-color: #FFFFFF;
}

.label {
   -fx-font-size: 36px;
   -fx-font-weight: bold;
   -fx-text-fill: #037B41;
}

.text {
    -fx-font-size: 20px;
}
