.register-user-pane {
    -fx-background-color: #FFFFFF;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #037B41;
}

.signup-button {
    -fx-background-color: #037B41;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}
